<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<scrpit src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></scrpit>
<!-----add index.js---->
<script src="/js/app/index.js"/>
</body>
</html>